
[Unit]
Description=zq_nodeJS_onePrinter@自启动脚本
After=default.target

#
[Service]
ExecStart=/home/zq/WorkSpace/NodeJS/onePrinter/_index.sh

#
[Install]
WantedBy=default.target
